.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}
